:root {
  --color1: #804911;
  --color2: #c0ae91;
  --color3: #d29b57;
  --color4: #ab3319;
  --color5: #6b4930;
  --color6: #c64f02;
  --color7: #93785c;
  --color8: #cc813a;
  --color9: #57544e;
  --color10: #bfa36c;
  --color11: #0e0e0f;
  --color12: #f1edde; /*BACKGROUND COLOR (just nu iaf)*/
  --color13: #aebcbe;
  --color14: #817772;
  --color15: #577a81;

  --app-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  height: var(--app-height);
  font-family: 'Klee One', sans-serif;
  font-weight: bold;
  /* background-color: var(--color12); */
  /* background-image: 
    radial-gradient(
        #F1EDDE,
        #ded5b6
      ); */
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2FBakgrund.JPG?alt=media&token=06604728-79f2-419d-b9c2-5a8989c2b436');
  background-repeat: no-repeat;
  background-size: cover;
}

wrapper {
  height: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#map {
  height: 100%;
}

#positionBtn {
  width: 14vw;
  height: 13vw;
  position: absolute;
  z-index: 70;
  top: 3vh;
  right: 19vw;
}

#positionBtn > img {
  height: 100%;
}

#meterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Fbtn3.png?alt=media&token=046eddd4-6769-4a86-af36-6bcee53ecbe7");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 17vh;
  width: 20vh;
  position: absolute;
  bottom: 62vh;
  left: 36%;
  text-align: center;
}

.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.559);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmnoprint,
.gm-control-active,
.gm-svpc {
  display: none;
}
.popup > div {
  width: 75%;
  height: 60%;
  background-color: var(--color2);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(0, 0, 0);
  z-index: 100;
  border-radius: 25px;
}

.popup > div > div:first-child {
  font-size: 5vw;
}

.popup > div > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 10%;
  background-color: var(--color7);
  border-radius: 10px;
}

.timerBox {
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 50;
}

#counter {
  font-size: 5vw;
}

.accessDenied {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2FBakgrund.JPG?alt=media&token=06604728-79f2-419d-b9c2-5a8989c2b436');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-size: 5vw;
  z-index: 40;
}

.accessDenied > div:first-child {
  text-align: center;
  margin: 20px;
}

.accessDenied > div:last-child {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 45vw;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Fbtn3.png?alt=media&token=63b4381e-2cef-4f3d-984b-d6a6da3406d7');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

#darkOverlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  z-index: 1000;
}
