:root {
    --color1: #804911;
    --color2: #C0AE91;
    --color3: #D29B57;
    --color4: #AB3319;
    --color5: #6B4930;
    --color6: #C64F02;
    --color7: #93785C;
    --color8: #CC813A;
    --color9: #57544E;
    --color10: #BFA36C;
    --color11: #0E0E0F;
    --color12: #F1EDDE;
    --color13: #AEBCBE;
    --color14: #817772;
    --color15: #577A81;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
    
wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.559);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup > div{
    width: 75%;
    height: 60%;
    background-color: rgb(222, 222, 222);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}

.popup > div > div:first-child {
    font-size: 4vw;
}

.popup > div > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    background-color: rgb(123, 123, 123);
}

.hidden{
    display: none;
}