body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startPageWrapper{
  margin: 5vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startPageWrapper div:first-child{
  background-color: bisque;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startPageWrapper div:last-child{
  position: relative;
  top: 5%;
  background-color: lightgrey;
  padding: 4%;
  border-radius: 10px;
}

#teamWrapper,
#backpackWrapper{
  margin: 5vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teamBtn,
.backpackBtn {
  margin: 5vw;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* BACKSTORY */
#backStoryTop {
  height:80%;
  width: 100vw;
  background-color: darkgrey;
}

#backStoryBottom {
  height: 20%;
  width: 100vw;
  background-color:grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
  box-sizing: border-box;
}

#backStoryContinueBtn{
  width: 66%;
  height: 50%;
  background-image: url(../images/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}