wrapper {
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startPageWrapper {
  margin: 5vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#startPageWrapper div:first-child {
  /* background-color: #c0ae91; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: 40%;
}

#startPageWrapper div:nth-child(2) {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Fgyllene.png?alt=media&token=86d4f146-345b-4bf5-bbb9-a8e394264b0d);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10vw;
  width: 90%;
  height: 40%;
}

#startPageWrapper div:last-child {
  margin-top: 20%;
  background-color:  #C0AE9133;
  padding: 6%;
  border-radius: 200px;
}

#backpackWrapper {
  margin: 5vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.backpackBtn {
  margin: 5vw;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teamWrapper {
  margin-bottom: 5vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teamBtn {
  margin: 5vw;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#teamWrapper div:first-child{
  background-image: url(https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Fbackpack1.png?alt=media&token=5b63d047-dbc9-45dd-9bfd-3aa59014857a);

}
#teamWrapper div:nth-child(2){
  background-image: url(https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Fbackpack2.png?alt=media&token=20551b05-1f89-4f5b-922a-f1b28413830b);
}

/* BACKSTORY */
#backStoryTop {
  height: 80%;
  width: 100vw;
}

#backStoryBottom {
  height: 20%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
  box-sizing: border-box;
}

#backStoryContinueBtn {
  width: 66%;
  height: 50%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2Farrow.png?alt=media&token=a5d15cee-800c-4587-91e7-3a45078a892c');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
