wrapper {
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('');
}

#storylineTop {
  height: 60%;
  width: 100vw;
}

#storylineBottom {
  height: 40%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 2vh;
}

#storylineBottom div {
  margin: 0vw 2vw;
  width: 40vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 4vw;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

.arrowBtn {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2FIMG_0170.PNG?alt=media&token=12a2d43a-c694-4b66-b510-95dd5c427633');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

/* -------------------------------------------------- */
.character {
  position: absolute;
  height: 85%;
  left: -10vw;
  bottom: -35vw;
}
.bubble {
  position: absolute;
  z-index: 1;
  height: 40%;
  left: -20vw;
}
/* -------------------------------------------------- */

#dorrvakt {
  height: 80%;
  left: -20vw;
  bottom: -35vw;
}
/* HAHAHA, ska inte se ut såhär sen. Ville bara få det att funka på alla olika <3 */
#dorrvaktBubble,
#torgareBubble,
#vonAsklundBubble,
#rolandBubble,
#prastBubble,
#apotekareBubble,
#spelarenBubble,
#charlieFrejaBubble,
#hildaBubble,
#biblotikarienBubble,
#operasangerskanBubble,
#anitaNextBubble,
#fiskareNextBubble,
#apotekareNextBubble,
#torgareNextBubble,
#vonAsklundNextBubble,
#augustNextBubble,
#rolandNextBubble,
#prastNextBubble,
#clemensNextBubble,
#spelarenNextBubble,
#charlieFrejaNextBubble,
#hildaNextBubble,
#biblotikarienNextBubble,
#operasangerskanNextBubble {
  height: 32%;
  top: 7vh;
  left: 0vw;
}

#august {
  bottom: 0vh;
  left: -25vw;
  height: 70%;
}

#clemens {
  bottom: 5vh;
  left: -50vw;
  height: 60%;
}

#hilda {
  height: 90%;
  left: 20vw;
  bottom: -50vw;
}

#operasangerskan {
  left: 23vw;
  bottom: -14vh;
}

#prast {
  height: 75%;
  left: -5vw;
  bottom: -5vh;
}
