wrapper {
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('');
}

#storylineTop {
  height: 60%;
  width: 100vw;
}

#storylineBottom {
  height: 40%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 2vh;
}

#storylineBottom div {
  margin: 0vw 2vw;
  width: 40vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 4vw;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

.arrowBtn {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gyllende-kringlan.appspot.com/o/Images%2FIMG_0170.PNG?alt=media&token=12a2d43a-c694-4b66-b510-95dd5c427633');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

/* -------------------------- */
.character {
  position: absolute;
  height: 90%;
}
.bubble {
  position: absolute;
  z-index: 1;
  height: 40%;
}
/* -------------------------- */
#anita {
  bottom: -24vh;
  left: -2vw;
}
#anitaBubble {
  left: -20vw;
}
/* -------------------------- */
#fiskare {
  bottom: -20vh;
  left: -2vw;
}
#fiskareBubble {
  left: -20vw;
}
/* -------------------------- */
#apotekare {
  bottom: -16vh;
  left: -30vw;
  height: 110%;
}
#apotekareBubble {
  height: 28%;
  bottom: 30vh;
}
/* -------------------------- */
#dorrvakt {
  bottom: -1vh;
  left: -30vw;
}
#dorrvaktBubble {
  height: 28%;
  bottom: 40vh;
}
/* -------------------------- */
#torgare {
  top: 8vh;
  height: 60%;
}
#torgareBubble {
  height: 30%;
  top: 41vh;
}
/* -------------------------- */
#vonAsklund {
  top: 8vh;
  height: 65%;
  left: 10vw;
}
#vonAsklundBubble {
  height: 28%;
  bottom: 35vh;
}
/* -------------------------- */
#august {
  bottom: 10vh;
  left: -30vw;
  height: 75%;
}
#augustBubble {
  height: 40%;
  top: 2vh;
  left: -20vw;
}
/* -------------------------- */
#roland {
  bottom: -22vh;
  left: -6vw;
}
#rolandBubble {
  height: 40%;
  top: 1vh;
  left: -20vw;
}
/* -------------------------- */
#prast {
  top: 8vh;
  height: 80%;
  left: -9vw;
}
#prastBubble {
  height: 35%;
  bottom: 26vh;
}
/* -------------------------- */
